.feedback {
    background-color: bisque;
}

.title {
    text-align: start;
    font-size: 40px;
}

.btn {
    margin-right: 15px;
    font-size: 25px;
    border-radius: 4px;
}

.item {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}